.section{
    border: 1px solid rgba(121, 102, 102, 0.253);
    min-width: 400px;
    max-width: 500px;
    margin: 300px 300px ;
    padding: 10px;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    .button{
        margin-left: 10px;
    }
}

.timeCounter{
    margin-left: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100px;
    background-color: rgb(81, 78, 92);
    span{
        color: aqua;
        
    }
}
.activePart{
    display: flex;
    flex-direction: row;
.countdown{
    min-width:200px;
    display: flex;
    input{
        width:40px;
        height: 40px;
        margin-right: 10px;
        text-align: center;
        margin-top: 10px;
        font-size: 20px;
    }
    .inputArea{
       margin-left: 30px;
       .span{
        font-size: 30px;
        padding-top: 30px;
        width: 200px;
    }
    }
}
}

.inputs{
    display: flex;
    flex-direction: row;
}

.slider{
    width: 150px;
    padding-left: 25px;
}

.progress{
    margin-left: 10px;
}

iframe{
    display: none;
}